@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:ital,wght@0,400;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
}
.bg {
    background-image: url('gdsc2home.png');
    /* background-size: cover; */
    background-size:cover;
    padding-bottom: 75px;
}
.navbar {

    position: fixed;
    width: 100%;
    margin-top: -90px;

}

.navbar ul{
    list-style: none;
    background: black;
    overflow: hidden;
    color:white;
    padding:0;
    text-align: center;
    margin: 0;
    display:flex; 
    flex-direction:row; 
    justify-content: center;
}

.navbar ul li{
    display:inline-block;
    padding: 20px;
    padding-left: 70px;
    padding-right: 40px;
    text-align: center;
    text-decoration: none;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Quattrocento', serif;
    letter-spacing: 2px;

}


.navbar ul a:hover{
    color: rgb(141, 143, 141);
}


.navbar ul .navbar-link{
    border-right: 1px solid orange;
    height: 25px;
    position: fixed;
    padding-right: 30px;
   
}
.navbar ul .nav{
    border-right: 1px solid red;
    height: 25px;
    position: fixed;
    padding-right: 30px;
}
.navbar ul .navb{
    border-right: 1px solid rgb(9, 105, 250);
    height: 25px;
    position: fixed;
    padding-right: 30px;
}
.navbar ul .navbar-lin{
    border-right: 1px solid green;
    height: 25px;
    position: fixed;
    padding-right: 30px;
}



.text-box {
    width: 100%;
    margin-top: 20%;
    left: 70%;
    /* transform: translate(-50%,-50%); */
    text-align: center;
}
.top{
    font-size: 60px;
    margin-top: -180px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: 9px;
}

.GDSC{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

#gdscLogo{
    width:300px;
    height:150px;
    margin-left:35px; 
}
.body{
    padding-left: 35.5%;
    padding-right: 36%;
    margin-top: 15px;
    font-size: 17px;
}
.button{
    width: 15%;
    margin-top: 40px;
    font-size: 15px;
    padding:12px 0px;
    text-decoration:none;
    color:#fff;
    border:none;
    border-radius: 5px;
    background:#004aad;
    position:relative;
    cursor:pointer;
    margin-left: 42%;
    margin-right: 40%;
    font-family: 'Montserrat', sans-serif;
}
.button:hover{
    background:#0c60ce;
}
.page2{
    margin-top: -60px;
}
.first{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-left: 3px solid rgb(31, 6, 99);
    margin-left: 45px;
}
.left{
    flex-basis: 50%;
    padding: 20px 12px;
    margin-left: 10%;
    padding-right: 0px;
}
.left img{
    height: 250px;
    width: 350px;
    margin-right: 0px;
}
.right {
    flex-basis: 30%;
    padding: 20px 12px;
    margin-right: 15%;
    padding-top: 60px;
    padding-left: 0px;
}
.head{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 6px;
    color: rgb(202, 14, 14);
    margin-top: 5px;
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 15.5px;
    margin-top: 15px;
}
.sec{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-right: 3px solid rgb(117, 8, 8);
    margin-right: 45px;
}
.left1{
    flex-basis: 50%;
    padding: 20px 12px;
    margin-left: 20%;
    padding-top: 60px;
    padding-right: 60px;
}
.right1{
    flex-basis: 30%;
    padding: 20px 12px;
    margin-right: 15%;
    padding-left: 60px;
}
.right1 img{
    height: 250px;
    width: 350px;
}